body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 10vh;
  font-family: monospace;
  flex-direction: column;
}

.love {
  color: palevioletred;
  font-size: 30px;
  cursor: pointer;
}

.words {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top: -40px;
}

.love-big{
  font-size: 50px;
}

.link{
  opacity: 1;
  transform: translateY(20px);
  transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a{
  text-decoration: none;
  color: black;
}